{% extends "base.html" %}
{% block content %}
<h2 style="color: rgb(105, 105, 163);">Register</h2>
<form method="POST" action="{{ url_for('main.register') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username(size=32, placeholder="Enter username") }}<br>
        {% for error in form.username.errors %}
            <span>{{ error }}</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.email.label }}
        {{ form.email(size=32, placeholder="Enter email") }}<br>
        {% for error in form.email.errors %}
            <span>{{ error }}</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password(size=32, placeholder="Enter password") }}<br>
        {% for error in form.password.errors %}
            <span>{{ error }}</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.confirm_password.label }}
        {{ form.confirm_password(size=32, placeholder="Confirm password") }}<br>
        {% for error in form.confirm_password.errors %}
            <span>{{ error }}</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
